@import '../variables/space.scss';

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 700px;

  .contact-iframe {
    border: 0;
    width: 550px;
    height: 700px;
  }

  .contact-spinner {
    position: absolute;
  }
} 

