@import '../variables/responsive.scss';
@import '../variables/space.scss';

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @media only screen and (min-width: $break-mobile) {
    max-width: 700px;
  }
}

.home-projects-list {
  .project-wrapper {
    margin-bottom: $space-m;
  }
}
