header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

div.site-title {
  h1 {
    display: inline-block;
    color: var(--text);
    &:hover {
      color: var(--accent);
    }
  }
}

nav.nav-links {
  display: flex;
  justify-content: flex-end;
}

a {
  &.active {
    color: var(--accent);
    border-color: var(--accent);
  }
}
