<div class="about-wrapper container">
  <div class="jumbotron">
    <h1 class="display-3">Hello!</h1>
    <p class="lead">I'm Nathan Smith, a software developer.</p>
    <hr class="my-2" />
    <p>
      I've written full stack applications with ASP.Net Core and React, maintained a CSS + React component library, and
      now develop enterprise Angular UIs. In my spare time I play tabletop and video games and takes pictures of my
      cats.
    </p>
    <p>
      You can find me on <a href="https://github.com/OfficerHalf">GitHub</a> and
      <a href="https://www.linkedin.com/in/nathan-r-smith/">LinkedIn</a> or contact me
      <a routerLink="/contact">here</a>.
    </p>
  </div>
</div>
