@import '../../../../Global.scss';

.ProjectCardComponent {
    display: inline-block;
    background-color: $alloy-darkGray;
    max-width: 400px;
    .wrapper {
        display: flex;
        .contentSection {
            margin-left: $m;
            padding: $m;
            .bottom {
                display: flex;
                align-items: center;
            }
        }
    }
    .iconSection {
        display: flex;
        align-items: center;
        padding: $m;
        img.projectIcon {
            max-width: 100px;
        }
    }
}