<h1>Alloy Theme</h1>
<p>
  Alloy is my response to the green and yellow tinted world of Monokai. Alloy has more contrast and clearer color, while
  maintaining Monokai's vibrant palette.
</p>
<app-image-compare-slider
  maxWidth="1000px"
  leftSrc="https://i.imgur.com/zHkosh9.png"
  rightSrc="https://i.imgur.com/f3qQDCl.png"
></app-image-compare-slider>
<p>
  Get the theme for <a href="https://marketplace.visualstudio.com/items?itemName=officerhalf.alloy-theme">VS Code</a>,
  <a href="https://github.com/OfficerHalf/alloy-theme/tree/master/themes/prismjs">Prism.js</a>,
  <a href="https://github.com/OfficerHalf/alloy-theme/tree/master/themes/conemu">ConEmu</a>, and
  <a href="https://github.com/OfficerHalf/alloy-theme/tree/master/themes/windows-terminal">Windows Terminal.</a>
</p>
<p><a href="https://github.com/OfficerHalf/alloy-theme">See the source.</a></p>
