#blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  line-height: 30px;
  .wrapper {
    max-width: 680px;
    .body {
      iframe {
        border: 0;
      }
      img {
        display: block;
        max-width: 90%;
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      pre {
        font-size: 14px;
      }
    }
  }
}
