<div id="blog-post" *ngIf="blogPost | async as post; else fourOhFour">
  <div class="wrapper">
    <div class="header">
      <h1>{{ post.data.title }}</h1>
      <small>{{ post.dates.published }}</small>
    </div>
    <div #body class="body" [innerHTML]="post.body"></div>
    <div class="footer">
      <div *ngIf="post.meta.next_post || post.meta.previous_post" class="next-prev">
        <a *ngIf="post.meta.previous_post !== null" [routerLink]="['/blog/post', post.meta.previous_post!.slug]">
          <<< {{ post.meta.previous_post!.title }}
        </a>
        <a *ngIf="post.meta.next_post !== null" [routerLink]="['/blog/post', post.meta.next_post!.slug]">
          {{ post.meta.next_post!.title }} >>>
        </a>
      </div>
    </div>
  </div>
</div>
<ng-template #fourOhFour>
  <div>
    Couldn't find a post.
  </div>
</ng-template>
