@import '../../variables/all.scss';

.home-wrapper {
  background-image: url('../../../images/components/Home/Trees2.jpg');
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .home-section {
    background-color: rgba($color: $background-color, $alpha: 0.35);
    max-width: 700px;
  }
}

.home-projects-list {
  .project-wrapper {
    margin-bottom: $space-m;
  }
}
