@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display|Red+Hat+Text&display=swap');
@import './variables/color.scss';

html,
body {
  margin: 0;
  font-family: 'Rex Hat Text', sans-serif;
  color: $font-color-light;
  scroll-behavior: smooth;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $font-color-light-link;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'Red Hat Display', sans-serif;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}
