@import '../../../Global.scss';

.SectionComponent {
    .title {
        transition: color $hover-link;
        margin-bottom: 0;
        &.expanded {
            color: $alloy-green;
        }
        &:hover {
            color: $alloy-fuschia;
            cursor: pointer;
        }
        &::before {
            content: "#";
            margin-right: $m;
            text-decoration: underline;
        }
    }
}