@import '../../../Global.scss';

.SectionComponent {
    .title {
        transition: color $hover-link;
        &:hover {
            color: $alloy-fuschia;
            cursor: pointer;
        }
        &::before {
            content: "# ";
        }
    }
    .content {
        margin-left: 32px;
    }
}