@import '../../Global.scss';

.CardComponent {
    display: inline-block;
    background-color: white;
    .cardContent {
        padding: $m * 1.5;    
        font-family: 'Roboto', sans-serif;    
    }
}

.CardComponent.hoverable {
    transition: transform $hover-s;
}

.CardComponent.hoverable:hover {
    transform: scale(1) !important;
}