<ng-template #buttons>
  <a mat-button class="navlink" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  <a mat-button class="navlink" routerLink="/blog" routerLinkActive="active">
    Blog
  </a>
</ng-template>

<mat-toolbar color="primary" [ngStyle]="{ height: '64px' }">
  <button
    *ngIf="collapseNav | async"
    mat-icon-button
    (click)="sidenavService.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <ng-container
    *ngIf="(collapseNav | async) === false"
    [ngTemplateOutlet]="buttons"
  ></ng-container>
</mat-toolbar>
