<div *ngIf="featuredPost$ | async as post" class="post-list__featured container">
  <div class="jumbotron my-3 py-4">
    <h1 class="display-4">{{ post!.title }}</h1>
    <p class="lead">Latest Post</p>
    <hr class="my-4" />
    <p>{{ post!.summary }}</p>
    <a class="btn btn-primary btn-lg" routerLink="/blog/post/{{ post!.slug }}" role="button">Read</a>
  </div>
</div>
<div class="post-list__wrapper">
  <div class="container post-list">
    <div class="row row-cols-2">
      <div *ngFor="let post of blogPosts$ | async" class="col">
        <div class="card shadow post-card my-3 border-0" (click)="onCardClick(post.slug)">
          <div *ngIf="post.featured_image; else vertical" class="row p-0 m-0">
            <div class="col-md-4 p-0 featured-image__container">
              <img class="featured-image__image" [src]="post.featured_image" [alt]="post.meta_description" />
            </div>
            <div class="col-md-8 p-0">
              <ng-container *ngTemplateOutlet="cardBody; context: { post: post }"></ng-container>
            </div>
          </div>
          <ng-template #vertical>
            <ng-container *ngTemplateOutlet="cardBody; context: { post: post }"></ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cardBody let-post="post">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.summary }}</p>
  </div>
</ng-template>
