@import "../../../theme.scss";

.post-list {
    &__featured {

    }
    &__wrapper {
        background-color: scale-color($secondary, $saturation: -40%);
    }
    .post-card {
        max-width: 580px;
        overflow: hidden;
        &:hover {
            cursor: pointer;
        }
        .featured-image {
            &__container {
                display: flex;
            }
            &__image { 
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}