@import '../../Global.scss';

.HomeComponent {
    min-height: 100vh;
    // background-image: $backgroundImage;
    // background-repeat: no-repeat;
    .sections {
        padding-left: $l;
        padding-right: $l;
    }
}