@import '../../Global.scss';

$spacer: 40px;

.HomeComponent {
    margin: $spacer * 2;
    .top {
        display: flex;
        align-items: center;
        .NameCardComponent {
            margin-left: $spacer;
        }
    }
    .columns {
        display: flex;
        .leftColumn {
            margin-top: $spacer;
            width: 250px;
        }
        .rightColumn {
            margin-left: $spacer;
            margin-top: $spacer;
        }
    }
}