.contact {
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 550px;
        height: 800px;
        
        iframe {
          border: 0;
          width: 550px;
          height: 800px;
        }
    }
}