#work-layout {
    min-height: 100vh;

    .ant-page-header-heading-title {
        color: #2A2F34;
    }

    #work-layout-header {
        background-color: white;
        display: flex;
        align-items: center;
        min-height: 80.5px;
    }

    #work-layout-project-title {
        margin-left: 24px;
        margin-bottom: 0px;
        color: #2A2F34;
    }

    #work-layout-carousel {
        .slick-track {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .slick-dots {
            li button {
                background-color: #000;
            }
            li.slick-active button {
                background-color: #008be1;
            }
        }
    }
}
