/* Background Colors */
$surface: #121212;
$background: #303030;
$raised: #424242;

/* Text Colors */
$text-primary: #fff;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-disabled: rgba(255, 255, 255, 0.5);
$text-ghost: rgba(255, 255, 255, 0.12);

/* Action Colors */
$action-active: #fff;
$action-hover: rgba(255, 255, 255, 0.08);
$action-selected: rgba(255, 255, 255, 0.16);
$action-focus: rgba(255, 255, 255, 0.12);

/* Shadows */
$elevation-0: "none";
$elevation-1: "0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12)";
$elevation-2: "0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12)";
$elevation-3: "0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12)";
$elevation-4: "0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12)";
$elevation-6: "0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12)";
$elevation-8: "0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12)";
$elevation-12: "0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12)";
$elevation-16: "0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12)";
$elevation-24: "0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12)";

/* Primary Color */
$primary: #a5d6a7;
$primary-light: #d7ffd9;
$primary-dark: #75a478;

/* Secondary Color */
$secondary: #90caf9;
$secondary-light: #c3fdff;
$secondary-dark: #5d99c6;

/* Durations */
$shortest: 150;
$shorter: 200;
$short: 250;
$standard: 300;
$complex: 375;
$enteringScreen: 225;
$leavingScreen: 195;

/* Utility Classes */
.elevation- {
    &0 {
        box-shadow: $elevation-0;
    }
    &1 {
        box-shadow: $elevation-1;
    }
    &2 {
        box-shadow: $elevation-2;
    }
    &3 {
        box-shadow: $elevation-3;
    }
    &4 {
        box-shadow: $elevation-4;
    }
    &6 {
        box-shadow: $elevation-6;
    }
    &8 {
        box-shadow: $elevation-8;
    }
    &12 {
        box-shadow: $elevation-12;
    }
    &16 {
        box-shadow: $elevation-16;
    }
    &24 {
        box-shadow: $elevation-24;
    }
}