/* Bootswatch Overrides*/
// $primary: scale-color(#a25538, $saturation: -18%);
$primary: #377771;
$secondary: #25384D;
$link-color: scale-color($secondary, $lightness: 25%, $saturation: 60%);
$success: #57B2A9;
// $primary:       scale-color(#C1707E, $lightness: -5%);

/* Default Theme */
@import "~bootswatch/dist/flatly/variables";