@import '../../../../../Global.scss';

.MoreInfoButtonComponent {
    border: 1px solid $alloy-blue;
    padding: $m;
    a {
        color: $alloy-blue;
    }
    &:hover {
        border-color: $alloy-green;
        a {
            color: $alloy-green;
        }
    }
}