<article>
  <header>
    <h1>Nathan Smith</h1>
    <address id="contact-info">
      <a href="https://nathan-smith.org">nathan-smith.org</a>
      <a href="mailto:nathan@nathan-smith.org">nathan@nathan-smith.org</a>
      <a href="tel:+12566170035">256.617.0035</a>
    </address>
  </header>
  <section id="education">
    <h2>Education</h2>
    <ul>
      <li>
        <h3>Mississippi State University</h3>
      </li>
      <li>
        <h3>Mississippi State University</h3>
      </li>
    </ul>
  </section>
  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <li>
        <h3>Core</h3>
        <ul>
          <li>TypeScript</li>
          <li>CSS</li>
          <li>Angular</li>
        </ul>
      </li>
      <li>
        <h3>Technology</h3>
        <ul>
          <li>Jasmine, Karma</li>
          <li>Git</li>
        </ul>
      </li>
    </ul>
  </section>
  <section id="coursework">
    <h2>Coursework</h2>
    <ul>
      <li>
        <h3>Graduate</h3>
      </li>
      <li>
        <h3>Undergraduate</h3>
      </li>
    </ul>
  </section>
  <section id="research">
    <h2>Research</h2>
    <ul>
      <li>
        <h3>STARS Lab</h3>
      </li>
    </ul>
  </section>
  <section id="links">
    <h2>Links</h2>
  </section>
  <section id="experience">
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>OneTrust</h3>
      </li>
      <li>
        <h3>Bentley Systems</h3>
      </li>
      <li>
        <h3>Red Hat</h3>
      </li>
    </ul>
  </section>
  <section id="projects">
    <h2>Projects</h2>
  </section>
</article>
