<article>
  <header>
    <h1>Nathan Smith</h1>
    <address id="contact-info">
      <a href="https://nathan-smith.org">nathan-smith.org</a>
      <a href="mailto:nathan@nathan-smith.org">nathan@nathan-smith.org</a>
      <a href="tel:+12566170035">256.617.0035</a>
    </address>
  </header>
  <div class="content">
    <div class="column">
      <section id="education">
        <h2>Education</h2>
        <ul>
          <li>
            <h3>Mississippi State University</h3>
            <p>MS in Computer Science</p>
            <p class="light-text">May 2017 | Starkville, MS</p>
            <p class="light-text">GPA: 3.89</p>
          </li>
          <li>
            <h3>Mississippi State University</h3>
            <p>BS in Software Engineering</p>
            <p class="light-text">May 2016 | Starkville, MS</p>
            <p class="light-text">GPA: 3.68</p>
          </li>
        </ul>
      </section>
      <section id="skills">
        <h2>Skills</h2>
        <ul>
          <li>
            <h3>Core</h3>
            <ul class="skill-list">
              <li>TypeScript</li>
              <li class="skill-list-dot">•</li>
              <li>CSS</li>
              <li class="skill-list-dot">•</li>
              <li>Angular</li>
              <li class="skill-list-dot">•</li>
              <li>React</li>
            </ul>
          </li>
          <li>
            <h3>Technology</h3>
            <ul class="skill-list">
              <li>Jasmine, Karma</li>
              <li class="skill-list-dot">•</li>
              <li>Git</li>
            </ul>
          </li>
        </ul>
      </section>
      <section id="coursework">
        <h2>Coursework</h2>
        <ul>
          <li>
            <h3>Graduate</h3>
            <p>Advanced Human-Robot Interaction</p>
            <p>Distributed Computing</p>
            <p>Visual Data Analysis with R</p>
          </li>
          <li>
            <h3>Undergraduate</h3>
            <p>Human-Robot Interaction</p>
            <p>Human-Computer Interaction</p>
            <p>
              Software Engineering Senior Project
              <small>(Project Manager)</small>
            </p>
          </li>
        </ul>
      </section>
      <section id="research">
        <h2>Research</h2>
        <ul>
          <li>
            <h3>STARS Lab</h3>
            <p><strong>2016 - 2017 | Graduate</strong></p>
            <p>
              Developed JavaScript app for Toyota to map points on a 3D model to
              actual measurements on a Toyota Corolla to determine needed
              production adjustments.
            </p>
          </li>
          <li>
            <p><strong>2012 - 2016 | Undergraduate</strong></p>
            <p>
              Collected data for the Robot Interview project, studying how a
              robot interviewer might gather more accurate eye-witness testimony
              than a human interviewer.
            </p>
          </li>
        </ul>
      </section>
      <section id="links">
        <h2>Links</h2>
        <ul>
          <li>
            Github:// <a href="https://github.com/OfficerHalf/">OfficerHalf</a>
          </li>
          <li>
            LinkedIn://
            <a href="https://www.linkedin.com/in/nathan-r-smith/"
              >nathan-r-smith</a
            >
          </li>
          <li>
            Website:// <a href="https://nathan-smith.org">nathan-smith.org</a>
          </li>
        </ul>
      </section>
    </div>
    <div class="column">
      <section id="experience">
        <h2>Experience</h2>
        <ul>
          <li>
            <div class="experience-title">
              <h3>OneTrust</h3>
              <p class="light-text">Software Engineer | 2020 - Present</p>
            </div>
            <ul class="experience-list">
              <li>
                Integrated 3rd-party analytics tools with the application to
                provide insights through dashboards and reports showing feature
                adoption and workflow friction.
              </li>
              <li>
                Implemented on-demand custom domain configuration to automate
                process and reduce manual configuration burden.
              </li>
              <li>
                Migrated and refactored code from a monolithic legacy project
                into multiple micro-frontend applications.
              </li>
              <li>
                Managed and led development on four core frontend libraries
                shared by all product teams.
              </li>
              <li>
                Contributed to large-scale UI refresh, adding support for
                multiple themes and updating components to conform to new design
                system.
              </li>
              <li>
                Implemented responsive and accessible design in global
                navigation components.
              </li>
              <li>
                Led daily pull request review meeting for all core repositories
                with focus on code quality, consistency, and accessibility.
              </li>
            </ul>
          </li>
          <li>
            <div class="experience-title">
              <h3>Bentley Systems</h3>
              <p class="light-text">Full Stack Developer | 2015 - 2020</p>
            </div>
            <ul class="experience-list">
              <li>
                Architected and developed a full-stack user management web
                application by integrating 3rd-party directory management API
                with ASP.NET Core and React. Supported its deployment in a large
                scale system change-over, troubleshooting with both support
                colleagues and end users.
              </li>
              <li>
                Led hackathon at Microsoft to create proof-of-concept
                integration with Bentley applications, Azure AD, and Microsoft
                Graph to unify user experience and personal information between
                Microsoft and Bentley web services.
              </li>
              <li>
                Designed and developed an internal service management web
                application using ASP.NET Core, Typescript, and React.
                <!-- CONNECT Service Registry, CSRG -->
              </li>
              <li>
                Produced proof of concept web application features with tight
                deadlines to comply with requirements for securing 3rd-party
                software contracts.
              </li>
              <li>
                Independently contributed styles, components, tests, and
                documentation to internal CSS and React UI libraries to
                implement corporate UX standards.
              </li>
              <li>
                Wrote deployment scripts for scalable, distributed compute nodes
                with Azure Batch, reducing setup complexity for end users and
                administrators.
              </li>
              <li>
                Integrated a 3rd-party PDF markup web stack with ASP.NET and
                AngularJS for real-time collaboration between multiple end users
                and document sources.
              </li>
              <li>
                Designed and built new configuration UI for generating
                architectural column schedules, streamlining a complex UI.
                Worked in large, legacy codebase to revive this deprecated
                feature.
              </li>
              <li>
                Updated Bentley Configuration Explorer (BCE), a legacy VB.NET
                application, to work with both older and current Bentley
                products. BCE parses configuration files by collecting variables
                and flagging errors, which can be used to diagnose config bugs.
              </li>
              <li>
                Prototyped augmented reality version of Bentley Navigator for
                use in construction sites to show work progress, visualize
                planned structures, and more quickly identify conflicts.
              </li>
            </ul>
          </li>
          <li>
            <div class="experience-title">
              <h3>Red Hat</h3>
              <p class="light-text">
                Infrastructure Intern | Summer 2013 & 2014
              </p>
            </div>
            <ul class="experience-list">
              <li>
                Managed two labs with systems of different architectures. Duties
                included installing new systems, setting up operating systems on
                new hardware, removing old systems, and organizing the labs.
              </li>
              <li>
                Wrote a web app to keep track of all systems and their network
                information. Application increased efficiency by automatically
                generating network configuration files instead of manually
                editing large text files.
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section id="projects">
        <h2>Projects</h2>
      </section>
    </div>
  </div>
</article>
