.stream-post {
  position: relative;
  width: 100%;
  display: flex;
  .left-column {
    width: 25%;
    position: relative;
    .title {
      position: sticky;
      margin: 0;
      top: 1.5rem;
      left: 0px;
    }
  }
  .right-column {
    width: 75%;
  }
}
