.blog-post-list {
  display: flex;
  gap: 16px;
  padding: 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.blog-post-card {
  display: block;
  border: var(--border) 1px solid;
  min-width: 250px;
  height: 300px;
  flex: 1;
  margin: 0;

  .featured-image {
    height: 175px;
    background-position: center;
    background-size: cover;
  }
}
