<div class="ancestry-and-culture">
  <mat-form-field>
    <mat-label>Mixed Ancestry Chance</mat-label>
    <input matInput type="text" [(ngModel)]="multipleAncestryChance" />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Reset"
      (click)="multipleAncestryChance = defaultMultipleAncestryChance"
    >
      <mat-icon>undo</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Same Culture Chance</mat-label>
    <input matInput type="text" [(ngModel)]="sameCultureChance" />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Reset"
      (click)="sameCultureChance = defaultSameCultureChance"
    >
      <mat-icon>undo</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button (click)="generate()">Generate</button>
  <div *ngIf="currentAncestries && currentCulture">
    <h2>Ancestry</h2>
    <div class="ancestries">
      <span *ngFor="let a of currentAncestries" class="ancestry">{{ a.option }}</span>
    </div>
    <h2>Culture</h2>
    <span class="culture">{{ currentCulture.option }}</span>
  </div>
</div>
