<div class="ancestry-and-culture">
  <mat-card>
    <mat-card-content>
      <div>
        <div>
          <mat-slider thumbLabel [(ngModel)]="multipleAncestryChance"></mat-slider>
          <mat-form-field>
            <mat-label>Mixed Ancestry Chance</mat-label>
            <input matInput type="text" [(ngModel)]="multipleAncestryChance" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Reset"
              (click)="multipleAncestryChance = defaultMultipleAncestryChance"
            >
              <mat-icon>undo</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Same Culture Chance</mat-label>
            <input matInput type="text" [(ngModel)]="sameCultureChance" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Reset"
              (click)="sameCultureChance = defaultSameCultureChance"
            >
              <mat-icon>undo</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="ignoreWeights">Ignore Weights</mat-checkbox>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="generate()">Generate</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="currentAncestries && currentCulture && currentGeographicCulture && currentPlanarCulture">
    <mat-card class="result-card">
      <mat-card-header>
        <mat-card-title>Ancestry and Culture</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <div matSubheader>Ancestries</div>
          <mat-list-item *ngFor="let a of currentAncestries">{{ a.option }}</mat-list-item>
          <mat-checkbox [(ngModel)]="lockAncestry">Lock</mat-checkbox>
          <mat-divider></mat-divider>
          <div matSubheader>Culture</div>
          <mat-list-item>{{ currentCulture.option }}</mat-list-item>
          <mat-checkbox [(ngModel)]="lockCulture">Lock</mat-checkbox>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="result-card">
      <mat-card-header>
        <mat-card-title>Geographic and Planar Culture</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            These cultures are optional and modify any given culture by replacing cultural traits.
          </mat-list-item>
          <div matSubheader>Geographic</div>
          <mat-list-item>{{ currentGeographicCulture.option }}</mat-list-item>
          <mat-checkbox [(ngModel)]="lockGeographicCulture">Lock</mat-checkbox>
          <mat-divider></mat-divider>
          <div matSubheader>Planar</div>
          <mat-list-item>{{ currentPlanarCulture.option }}</mat-list-item>
          <mat-checkbox [(ngModel)]="lockPlanarCulture">Lock</mat-checkbox>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
