@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700');
$s: 5px;
$m: $s * 2;
$l: $s * 4;
$colors-light: #eee;
$colors-dark: #222;
$hover-link: .25s;
$hover-s: .2s;
$hover-m: $hover-s * 2;
$hover-l: $hover-s * 4;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    margin: 0;
}