/* You can add global styles to this file, and also import other style files */
@import "~crypt-ui";
@import "~crypt-ui/src/fonts";
@import "~crypt-ui/src/defaults";

a {
  color: var(--secondary);
}

html,
body {
  height: 100%;
  margin: 0;
}
