<p>
  hey this is my new website. I'm playing fast and loose here since I'm moving from React to Angular; thing's won't be
  very pretty for a while. Links in blog posts will probably be broken.
</p>
<p>
  You can still see some of my personal projects on <a href="https://github.com/OfficerHalf/">GitHub</a> or contact me
  on <a href="https://www.linkedin.com/in/nathan-r-smith/">LinkedIn</a>.
</p>
<h3>site map</h3>
<ul>
  <li><a routerLink="blog">blog</a></li>
  <li><a routerLink="about">about</a></li>
  <li><a routerLink="uses">uses</a></li>
</ul>
