main {
  --nav-width: 200px;
  display: grid;
  grid-template-columns: var(--nav-width) auto;
  gap: 20px;
  margin-top: 80px;

  @media only screen and (max-width: 999px) {
    grid-template-columns: auto;
  }
}
