<main>
  <section id="bio">
    Hi, I'm Nathan Smith, a frontend software developer who works on some open
    source projects in my free time. You can find me here:
    <ul>
      <li><a href="https://github.com/OfficerHalf">GitHub</a></li>
      <li>
        <a href="https://www.linkedin.com/in/nathan-r-smith/">LinkedIn</a>
      </li>
      <li><a href="https://forms.gle/tPE3m8AZNriveMCC8">Contact Form</a></li>
    </ul>
  </section>
  <section id="projects">
    These are some projects I work on:
    <ul>
      <li>
        <h3>Foundry VTT Content</h3>
        <p>
          I authored and maintain two modules and one RPG system for
          <a href="https://foundryvtt.com/">Foundry VTT</a>
        </p>
        <ul>
          <li>
            <a href="https://github.com/OfficerHalf/cryptomancer-fvtt"
              >Cryptomancer FVTT
            </a>
          </li>
          <li>
            <a href="https://foundryvtt.com/packages/go-to-combatant"
              >Go to Combatant</a
            >
          </li>
          <li>
            <a href="https://foundryvtt.com/packages/insert-journal-page"
              >Insert Journal Page</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h3><a href="https://www.crypt.nathan-smith.org/">Crypt UI</a></h3>
        <p>
          A sci-fi themed CSS component library, written mainly to support
          implementation of Cryptomancer FVTT.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/OfficerHalf/alloy-theme">Alloy</a></h3>
        <p>
          Alloy is a color theme available for
          <a
            href="https://marketplace.visualstudio.com/items?itemName=officerhalf.alloy-theme"
            >VS Code</a
          >,
          <a
            href="https://github.com/OfficerHalf/alloy-theme/tree/master/themes/prismjs"
            >Prismjs</a
          >,
          <a
            href="https://github.com/OfficerHalf/alloy-theme/tree/master/themes/windows-terminal"
          >
            Windows Terminal</a
          >, and
          <a
            href="https://github.com/OfficerHalf/alloy-theme/tree/master/themes/conemu"
            >ConEmu</a
          >.
        </p>
      </li>
      <li>
        <h3>Obsidian Plugins</h3>
        <p>
          I maintain three plugins for
          <a href="https://obsidian.md/">Obsidian</a>.
        </p>
        <ul>
          <li>
            <a href="https://github.com/OfficerHalf/obsidian-collapse-all"
              >Collapse All</a
            >
          </li>
          <li>
            <a href="https://github.com/OfficerHalf/obsidian-trello"
              >Obsidian Trello</a
            >
          </li>
          <li>
            <a href="https://github.com/OfficerHalf/obsidian-auto-class"
              >Auto Class</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h3>
          <a
            href="https://marketplace.visualstudio.com/items?itemName=officerhalf.homebrewery-vscode"
            >Homebrewery VS Code</a
          >
        </h3>
        <p>
          A VS Code extension for rendering markdown in the style of the
          <a href="https://homebrewery.naturalcrit.com/">Homebrewery</a> for
          creating Dungeons and Dragons 5e homebrew content inside VS Code. I'm
          no longer maintaining this project, but it still works for now.
        </p>
      </li>
    </ul>
  </section>
</main>
