@media only screen and (max-width: 999px) {
  :host {
    display: none;
  }
}

aside > nav {
  position: fixed;
  width: var(--nav-width);
  padding: 20px;
}
aside > nav details {
  border-bottom: none;
}
